<div class="row justify-content-center mt-4 ">
  <div class=" col-lg-4 col-sm-12 ">
    <!-- Form login -->
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-elegant ">
      <!--Form without header-->
      <div class="card">

        <div class="card-body mx-4">
          <!--Header-->
          <div class="text-center">
            <h3 class="dark-grey-text mb-3"><strong>Sign in</strong></h3>
          </div>
          <!--Body-->
          <div class="md-form">
            <input placeholder="Your email" type="email" id="email" email="true" formControlName="email"  class="form-control" required>
            <div *ngIf="isFieldInvalid('email')">
              Please enter a valid password.
            </div>
          </div>
          <div class="md-form pb-2">
            <input type="password" placeholder="Your password" id="pass" class="form-control" formControlName="password" required>
            <div *ngIf="isFieldInvalid('password')">
              Please enter a valid password.
            </div>
            <p class="font-small blue-text d-flex justify-content-end">
              Forgot <a href="#" class="blue-text ml-1"> Password?</a>
            </p>
          </div>
          <div class="text-center mb-3">
            <button type="submit" class="btn blue btn-block btn-rounded z-depth-1a">Sign in</button>
          </div>
          <p class="font-small dark-grey-text text-right d-flex justify-content-center mb-3 pt-2"> or Sign in with:</p>
          <div class="row my-3 d-flex justify-content-center">
            <!--Facebook-->
            <button type="button" class="btn btn-white btn-rounded mr-md-3 z-depth-1a"><i class="fa fa-facebook blue-text text-center"></i></button>
            <!--Twitter-->
            <button type="button" class="btn btn-white btn-rounded mr-md-3 z-depth-1a"><i class="fa fa-twitter blue-text"></i></button>
            <!--Google +-->
            <button type="button" class="btn btn-white btn-rounded z-depth-1a"><i class="fa fa-google-plus blue-text"></i></button>
          </div>
        </div>
        <!--Footer-->
        <div class="modal-footer mx-5 pt-3 mb-1">
          <p class="font-small grey-text d-flex justify-content-end">Not a member? <a href="#" class="blue-text ml-1"> Sign Up</a></p>
        </div>
      </div>
      <!--/Form without header-->
    </form>
    <!-- Form login -->
  </div>
</div>
